



<section class="max-w-xl mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
    <img  src="https://picsum.photos/600/400" loading="lazy" alt="<%= data.title %>" class="block w-full h-auto"/>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <%= data.title %>
            </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            <%= data.content %>
        </p>
      
    </div>
</section>