<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Blog</title>
</head>
<body>
    <main class="w-full max-w-full mx-auto">  
        <%- include('../partials/header'); -%>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2020 Blog</p>
    </footer>
</body>
</html>